name: Hello Actions
on:
  push:
    branches: 
      - main

jobs:
  hello:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: action/checkout@4

      - name: Say Hello
        run: echo "Hello from Github action!"
